<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listas de Compras</title>

        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/listaCompras.css">

        <style>
            [v-cloak] {
                display: none;
            }
        </style>

    </head>

    <body>
        <div class="container" id="app" v-cloak>
            <div class="navbar">
                <a href="home.html">
                    <image src="../image/navbar-icons/logo.png" class="logo"> </image>
                </a>
    
                <div class="searchbar">
                    <input type="text" placeholder="Busque por produtos aqui...">
                </div>

                <div class="navbar-icons">
                    <a href="login.html">
                        <image src="../image/navbar-icons/login.png" class="login"> </image>
                    </a>
                    <a href="carrinho.html">
                        <image src="../image/navbar-icons/kart.png" class="kart"> </image>
                    </a>
                    <a href="listaCompras.html">
                        <image src="../image/navbar-icons/shop-list.png" class="shoplist"> </image>
                    </a>
                    <a href="perfil.html">
                        <image src="../image/navbar-icons/profile.png" class="profile"> </image>
                    </a>
                </div>
            </div>

            <div class="content">
                <div class="titulo">
                    <h1>Listas de Compras</h1>
                    <h2>Home > Listas de Compras</h2>
                    <hr/>
                </div>
                
                <lista-compra>

                </lista-compra>
    
            </div>

            <div class="footer">
                <ul class="aboutus-section">
                    <li class="aboutus-item">
                        <h1>Sobre nós</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Delectus accusantium accusamus qui quidem doloremque
                            At alias rerum, earum, non provident,
                            amet consectetur adipisicing elit, non provident</p>
                    </li>

                    <li class="aboutus-item">
                        <h1>SAC</h1>
                        <p>Email: email@email.com<br>
                            Telefone: (00) 99999-9999<br>
                            Horário: seg à sex | 08h00 - 16h00<br></p>
                    </li>

                    <li class="aboutus-item">
                        <h1>Links</h1>
                        <p><a href="home.html">Home Page</a><br>
                            <a href="carrinho.html">Carrinho</a><br>
                            <a href="perfil.html">Perfil</a><br></p>
                    </li>
                </ul>
            </div>
        </div>

        <template id="template-lista-compra">
            <div v-for="(lista, index) in listas" class="lista-div">
                <div class="titulo-lista">
                    <h1>{{lista[0].title}}</h1>
                    <!--<button type="button">ar</button>-->
                    <button type="button" @click="removeListByIndex(index)" class="botao-lista">Excluir lista</button>
                </div>
                <ul>
                    <li v-for="(product, pIndex) in getListItems(index)">
                        <div class="product-box">
                            <div class="prod-details">
                                <div class="prod-imagem-box">
                                    <img :src="product.image_src" :alt="product.img_alt" class="prod-imagem">
                                </div>
                                <h2>{{ product.name }}</h2>
                            </div>
                            <div class="prod-quantity">
                                <h2>{{product.quantity}}</h2>
                                <h2>R$ {{ (product.quantity * product.price).toFixed(2) }}</h2>
                            </div>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-add-to-cart botao-lista">Adicionar ao carrinho</button>
            </div>

        </template>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="../javascript/listaCompras.js"></script>

    </body>
</html>