.content_adm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 800px;
}

.titulo_adm {
    margin: 3% 3% 10px 3%;
}

.titulo_adm h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

.titulo_adm h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

.titulo_adm hr {
    color: var(--cinza);
}