#titulo_cadastro{
    margin: 3% 3% 10px 3%;
}

#titulo_cadastro h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

#titulo_carrinho h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

#titulo_carrinho hr {
    color: var(--cinza);
}

/* formato e posicionamento da div contendo o tituloPagina e o caminho da página */
/*
#pagina{
	color:var(--vermelho-escuro);
	margin: 100px 100px 100px 50px;
	left: 40px;
}
*/

/* tamanho do tituloPagina e do caminho da página*/
/*
#tituloPagina{font-size:44px; margin-bottom: 10px;}
#caminho{font-size:20px;}
*/

/*posicionamento da div contendo os forms*/
#corpo{
	width:700px;
	height:1500px;
	margin: 0px 100px 0px 450px;
}
	
/* texto contendo o que pode ser feito na página */
#descricao{
	color:#000000;
	position:relative;
	top:20px;
	left:70px;
	opacity:0.7;
	margin:0px 0px 100px 0px;
	font-size:24px;
}

#aviso{
	color:#000000;
	font-size:18px;
}

#formulario{
	margin: 0px 0px 0px 40px;
}

/* nome de cada input*/
.titulo{
	position:relative;
	left:110px;

}

/*formato dos inputs do forms*/
.secao{
	width: 60%; 
	padding: 12px 20px; 
	display: inline-block; 
	border: 3px solid #000000; 
	border-radius: 10px; 
	box-sizing: border-box;
	position:relative;
	left:110px;


}

/*secao1 e secao2 definem o formato dos inputs numero e complemento*/
.secao1{width: 20%;
	padding: 12px 20px; 
	display: inline-block; 
	border: 3px solid #000000; 
	border-radius: 10px; 
	box-sizing: border-box;
	position:relative;
	left:110px;
}

.secao2{
	width: 40%;	
	padding: 12px 20px; 
	display: inline-block; 
	border: 3px solid #000000; 
	border-radius: 10px; 
	box-sizing: border-box;
	position:relative;
	left:110px;
}

/*termos e termos1 definem o formato do paragrafo com os testo sobre os termos*/
#termos{
	font-family:Itim;
	position:relative;
	left:170px;
	margin-bottom:15px;
}

#termos1{
	font-family:itim;
	color:blue;
}

/*enviar é a classe que define o formato do botão para submeter*/
.enviar{
	width: 60%; 
	padding: 12px 20px; 
	display: inline-block; 
	border-radius: 10px; 
	box-sizing: border-box;
	position:relative;
	left:110px;
	background-color:#a40444;
	height:60px;
	color:#FCCC04;
	font-size:1.25em;
	font-family: 'Rubik', sans-serif;
}

.enviar:hover{
    border-radius: 5px;
    background-color: var(--#A40444);
    color: var(--#FCDC56);
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 15px 40px;
    opacity: 90%;
    transition: all 0.3s
}

.form_erro{
	color:red;
	padding: 0px 0px 10px 0px;  
	position:relative;
	left:110px;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
}