.content_produtos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 800px;
}

.titulo_produtos {
    margin: 3% 3% 10px 3%;
}

.titulo_produtos h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

.titulo_produtos h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

.titulo_produtos hr {
    color: var(--cinza);
}


.listagem {
    margin: 0 auto 50px;
    width: 70%;
}

.listagem ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px 20px;
}

.produto {
    width: 130px;
}

.prod-imagem-box {
    background-color: var(--cinza);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.prod-imagem-box img {
    width: 120px;
}

.btn-add-product {
    bottom: 5%;
    right: 5%;
    position: absolute;
    z-index: 1;
}

.input-add-product {
    bottom: 5%;
    right: 5%;
    width: 40px;
    position: absolute;
    z-index: 2;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.produto h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.produto h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400; 
    font-size: 14px;  
    line-height: 14px;
    height: 42px;
    overflow: scroll;
    color: rgba(0, 0, 0, 0.7);
}


.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 30px;
}

.modal-prod-image-box {
    background-color: var(--cinza);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-prod-image-box img {
    width: 300px;
}

.modal-prod-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    gap: 8px;
}

.modal-prod-description h1 {
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.modal-prod-description h2 {
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.modal-prod-description h3 {
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
}