.content_produtos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 800px;
}

.titulo_produtos {
    margin: 3% 3% 10px 3%;
}

.titulo_produtos h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

.titulo_produtos h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

.titulo_produtos hr {
    color: var(--cinza);
}


.listagem {
    margin: 0 auto 50px;
    width: 70%;
}

.listagem ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px 20px;
}