.content_perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 800px;
}

.titulo_perfil {
    margin: 3% 3% 10px 3%;
}

.titulo_perfil h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

.titulo_perfil h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

.titulo_perfil hr {
    color: var(--cinza);
}

#info{
    padding: 2.3%;
    margin: 5% 20% 15% 17%;
    font-size: 20px;
    gap: 30px 30px;
    width: 1100px;
    height: 1000px;
    padding: 2% 2% 5% 1%;
}

.foto{
    height: 250px;
    width: 250px;
    padding: 1% 35% 2% 35%;
}

#campos{
    display:flex;
    padding: 2% 1% 5% 1%;
    margin: 1% 4% 1% 1%;
    width: 1000px;
    height: 460px;
}

#esq{
    margin: 1% 6% 10% 1%;
    padding: 5% 5% 5% 1%;
}

#dir{
    margin: 1% 1% 10% 6%; 
    padding: 5% 5% 5% 5%;

}

.form{
    padding: 2% 1% 2% 1%;
    margin: 10% 1% 10% 1%;
    font-weight: bolder;
    font-size: 25px;

}

.dados{
    background-color: #E2E2E2;
    margin: 1% 5% 1% 1%;
    width: 380px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 10px;
}

#edit{
    background-color: #A40444;
    color: #FCDC56 ;
    border-radius: 22px;
    position: relative;
    left: 820px;
    width: 200px;
    height: 80px;
    margin-bottom: 2%;
    font-weight: bolder;
    font-size: 20px;
    border-style: none;
}

#edit:hover{
    border-radius: 5px;
    background-color: var(--#A40444);
    color: var(--#FCDC56);
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 15px 40px;
    margin: 20px 0px 20px 0px;
    opacity: 90%;
    transition: all 0.3s
}
