.content-admin {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-header {
    display: flex;
    flex-direction: column;
    margin: 0px 110px 15px 110px;
    font-weight: bolder;
}

.admin-title {
    color: var(--vermelho-escuro);
    font-size: 50px;
}

.admin-path {
    color: var(--vermelho-escuro);
    font-size: 20px;
}

.profile-title, .profile-path{
    color: var(--vermelho-escuro);
}

.content-admin hr {
    background: var(--cinza); 
    height: 0.1px;
    width: 85%;
    margin: 0px 50px 0px 50px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sides {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    justify-content: center;
}

.side {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    background-color: var(--cinza);
    padding: 20px;
    width: 550px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.side-title {
    color: var(--vermelho-escuro);
    font-size: 30px;
}

.query-area {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.query-forms {
    display: flex;
    flex-direction: column;
}

.query-input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.response-area {
    margin: 50px 0px;
}

.save-changes {
    display: flex;
    justify-content: end;
}

.response-area {
    display: flex;
    flex-direction: column;
}

.query-btn {
    background-color: #A40444;
    color: #FCDC56 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 15px;
    border-style: none;
    padding: 5px 10px 5px 10px;
}

.query-btn:hover {
    opacity: 70%;
    transition: ease 0.2s
}

.save-changes-btn {
    background-color: #A40444;
    color: #FCDC56 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 15px;
    border-style: none;
    padding: 5px 10px 5px 10px;
}

.save-changes-btn:hover {
    opacity: 70%;
    transition: ease 0.2s
}