.content-admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 500px;
    padding-bottom: 30px;
}

.titulo_admin {
    margin: 3% 3% 10px 3%;
}

.titulo_admin h1 {
    color: var(--vermelho-escuro);
    font-size: 40px;
    text-align: left;
}

.titulo_admin h2 {
    color: var(--vermelho-escuro);
    font-size: 14px;
    text-align: left;
}

.titulo_admin hr {
    color: var(--cinza);
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sides {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    justify-content: center;
}

.side {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    background-color: var(--cinza);
    padding: 20px;
    width: 500px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.products-side {
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.users-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 700px;
}

.side-title {
    color: var(--vermelho-escuro);
    font-size: 30px;
}

.query-area {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.query-forms {
    display: flex;
    flex-direction: column;
}

.query-input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-changes, .load-user, .load-product, .delete-user, .delete-product{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
}

.response-area {
    display: flex;
    flex-direction: column;
}

.query-btn {
    background-color: #A40444;
    color: #FCDC56 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 15px;
    border-style: none;
    padding: 5px 10px 5px 10px;
}

.query-btn:hover {
    opacity: 70%;
    transition: ease 0.2s
}

.save-changes-btn, .load-user-btn, .delete-user-btn, .load-product-btn, .delete-product-btn{
    background-color: #A40444;
    color: #FCDC56 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 15px;
    border-style: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.save-changes-btn:hover, .load-user-btn:hover, .delete-user-btn:hover, .load-product-btn:hover, .delete-produc-btn:hover{
    opacity: 70%;
    transition: ease 0.2s
}

.field {
    display: flex;
    flex-direction: column;
    margin: 7px 0px;
}

.field input, .field select, .field textarea {
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--cinza);
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 12px;
    color: rgb(82, 82, 82);
    resize: none;
    display: flex;
}

.field label {
    margin-left: 10px;
    margin-bottom: 3px;
}

.adm-checkbox {
    display: flex;
    flex-direction: row;
    align-items:stretch;
}

.isAdm {
    max-width: 50px;
    transform: scale(1.5);
}

.product-save-changes-btn {
    margin-top: 10px;
}

.delete-user-btn, .delete-product-btn{
    margin-top: 10px;
}